<div class="navbar bg-base-300 px-20" style="padding-right: 10px">
  <div class="navbar-start">
    <button class="btn btn-ghost btn-circle avatar">
      <img
        (click)="gotoHome()"
        (keydown)="gotoHome()"
        tabindex="0"
        class="w-10 rounded-full"
        src="assets/reaper.png"
        alt="The grim mirth reaper"
        title="image created by Freepik"
      />
    </button>
  </div>

  <div class="navbar-end gap-2">
    <img
      src="assets/uk-flag.png"
      class="w-6"
      alt="UK Flag"
      title="image created by Sudowoodo"
    />
    <input
      type="checkbox"
      class="toggle"
      [checked]="!isDefaultLanguage"
      (click)="switchActiveLanguage()"
    />
    <img
      src="assets/german-flag.png"
      class="w-6"
      alt="German Flag"
      title="image created by Sudowoodo"
    />
  </div>
</div>

<router-outlet></router-outlet>
