<div class="h-[calc(100vh-64px)]">

  <div class="flex justify-between navbar bg-base-300">
    <button class="btn btn-ghost text-xl">{{title}}</button>

    <div>
      <img src="assets/uk_flag.png" class="w-6" alt="UK Flag" title="created by Sudowoodo" />
      &nbsp;
      <input type="checkbox" class="toggle" checked />
      &nbsp;
      <img src="assets/german_flag.png" class="w-6" alt="German Flag" title="created by Sudowoodo" />
    </div>
  </div>

  <router-outlet></router-outlet>

</div>
