<div class="h-dvh flex flex-col">

  <div class="flex justify-center items-center grow hero bg-base-200" style="background-image: url('/assets/mountains.png');">
    <div class="hero-content flex-col lg:flex-row-reverse">
      <img src="/assets/autumn.png" class="max-w-sm rounded-lg shadow-2xl" />
      <div class="text-center">
        <h1 class="text-5xl font-bold">Grim Mirth Daily</h1>
        <div class="py-6 ms-8 me-8 w-80">
          <p class="text-xl">You wanna have a personalized <strong>your life in days</strong>&nbsp;<fa-icon class="icon-sun" [icon]="faCalendarDays" />?</p>
          <p class="text-xl">Click the button below and after a short quiz, you're gonna get it!</p>
        </div>
        <button class="btn btn-warning" (click)="navigateToQA()">Let's start</button>
      </div>
    </div>
  </div>

  <footer class="flex justify-center items-center footer footer-center p-4 bg-base-300 text-base-content">
    <aside>
      <a href="https://github.com/PabloPomodoro/grim-mirth-daily">
        <fa-icon [icon]="faCircleInfo" />
        <span> This is an open source project - check the github repo by clicking.</span>
      </a>
    </aside>
  </footer>

</div>
