<div class="h-[calc(100vh-64px)] flex flex-col items-center">
  <div class="artboard phone-3 lg:mt-6 mt-2 pt-2 glass rounded-2xl px-2">
    <div class="chat chat-start">
      @if (!this.steps[0]) {
        <div class="chat-bubble">
          <span class="loading loading-dots loading-sm align-bottom"></span>
        </div>
      } @else {
        <div class="chat-image avatar">
          <div class="w-10 rounded-full">
            <img alt="The grim mirther avatar" src="assets/reaper.png" />
          </div>
        </div>
        <div class="chat-header">Grim Mirther</div>
        <div class="chat-bubble">{{ 'qa.hi' | transloco }}</div>
      }
    </div>
    @if (this.steps[0]) {
      <div class="chat chat-end">
        <input appAutoFocus id="nameInput" class="input w-50 mt-2" type="text" />
        <button class="btn btn-active">{{ 'qa.save' | transloco }}</button>
      </div>
    }
  </div>
</div>
