<div class="h-[calc(100vh-64px)] flex flex-col items-center">
  <div
    class="artboard phone-5 lg:mt-6 my-2 pt-2 glass rounded-2xl px-2 items-center"
  >
    <div class="chat chat-start">
      @if (!this.steps[0].valueOf()) {
        <div class="chat-bubble">
          <span class="loading loading-dots loading-sm align-bottom"></span>
        </div>
      } @else {
        <div
          appStartNextStep="1"
          (startNextStepEvent)="startCountdownToNextStep($event)"
          class="chat-image avatar"
        >
          <div class="w-10 rounded-full">
            <img alt="The grim mirther avatar" src="assets/reaper.png" />
          </div>
        </div>
        <div class="chat-header">Grim Mirther</div>
        <div class="chat-bubble">{{ 'qa.hi' | transloco }}</div>
      }
    </div>

    @if (this.steps[1].valueOf()) {
      <div class="chat chat-end">
        <input
          appAutoFocus
          id="nameInput"
          class="input w-50 mt-2"
          type="text"
          [minlength]="1"
          [maxlength]="20"
          (keydown.enter)="wasNameEntered = true; startNextStepLoadingFollowByChat(2, 1000)"
          [(ngModel)]="user.name"
          [disabled]="wasNameEntered"
        />
        <button
          class="btn btn-active"
          [disabled]="user.name.length < 1"
          (click)="wasNameEntered = true; startNextStepLoadingFollowByChat(2, 1000)"
        >
          {{ 'qa.save' | transloco }}
        </button>

        @if (this.user.name.length < 1) {
          <span class="ml-20 mt-1">
            <p class="text-sm text-red-700 text-right">
              {{ 'qa.minLength' | transloco }}
            </p>
          </span>
        }
      </div>
    }

    <div class="chat chat-start">
      @if (this.steps[2].valueOf()) {
        <div class="chat-bubble">
          <span class="loading loading-dots loading-sm align-bottom"></span>
        </div>
      }
      @if (this.steps[3].valueOf()) {
        <div
          appStartNextStep="4"
          (startNextStepEvent)="startCountdownToNextStep($event)"
          class="chat-image avatar"
        >
          <div class="w-10 rounded-full">
            <img alt="The grim mirther avatar" src="assets/reaper.png" />
          </div>
        </div>
        <div class="chat-header">Grim Mirther</div>
        <div class="chat-bubble">
          Hi, {{ user.name }}.
          {{ 'qa.dateOfBirth' | transloco }}
        </div>
      }
    </div>

    @if (this.steps[4].valueOf()) {
      <div class="chat chat-end">
        <input
          #dateOfBirthInput
          appAutoFocus
          id="dateOfBirth"
          class="input w-50 mt-2"
          type="date"
          (keydown.enter)="wasDateOfBirthEntered = true; startNextStepLoadingFollowByChat(5, 1500)"
          [(ngModel)]="user.dateOfBirth"
          [disabled]="wasDateOfBirthEntered"
        />
        <button
          class="btn btn-active"
          [disabled]="!validDateOfBirth(dateOfBirthInput.value)"
          (click)="wasDateOfBirthEntered = true; startNextStepLoadingFollowByChat(5, 1500)"
        >
          {{ 'qa.save' | transloco }}
        </button>
        @if (!validDateOfBirth(dateOfBirthInput.value)) {
          <span class="ml-36 mt-1">
            <p class="text-sm text-red-700 text-right">
              {{ 'qa.minDate' | transloco }}
            </p>
          </span>
        }
      </div>
    }

    <div class="chat chat-start">
      @if (this.steps[5].valueOf()) {
        <div class="chat-bubble">
          <span class="loading loading-dots loading-sm align-bottom"></span>
        </div>
      }
      @if (this.steps[6].valueOf()) {
        <div
          appStartNextStep="7"
          (startNextStepEvent)="startCountdownToNextStep($event)"
          class="chat-image avatar"
        >
          <div class="w-10 rounded-full">
            <img alt="The grim mirther avatar" src="assets/reaper.png" />
          </div>
        </div>
        <div class="chat-header">Grim Mirther</div>
        <div class="chat-bubble">
          {{ 'qa.generateCalendarDialog' | transloco }}
        </div>
      }
    </div>

    @if (this.steps[6].valueOf()) {
      <button
        class="btn btn-active mt-2 w-full"
        (click)="alert('At least soon it will :)')"
      >
        {{ 'qa.generateCalendar' | transloco }}
      </button>
    }
  </div>
</div>
