<div class="h-[calc(100vh-64px)] flex justify-center">
  <div class="h-1/4 card w-96 mt-20">
    <div
      class="card-body items-center text-center border-2 rounded border-slate-950 border-solid"
    >
      <h2 class="card-title">Login</h2>
      <label>
        <input
          type="text"
          class="input input-bordered"
          placeholder="e-mail"
          [(ngModel)]="loginRequest.email"
        />
        @if (this.wrongEmail) {
          <div class="label">
            <span class="label-text-alt text-xs text-red-600">
              wrong email
            </span>
          </div>
        }
      </label>
      <label>
        <input
          type="password"
          class="input input-bordered"
          placeholder="*******"
          value="password"
          [(ngModel)]="loginRequest.password"
        />
        @if (this.wrongPassword) {
          <div class="label">
            <span class="label-text-alt text-xs text-red-600">
              wrong password
            </span>
          </div>
        }
      </label>
      <div class="card-actions justify-end">
        <button class="btn btn-primary" (click)="sendLoginRequest()">
          Login
        </button>
      </div>
    </div>
  </div>
</div>
