<div class="h-[calc(100vh-64px)] flex justify-center items-center">
  <div class="card lg:card-side bg-base-100 shadow-xl">
    <figure>
      <img
        src="/assets/login-welcome.png"
        alt="{{ 'login.heroImageAlt' | transloco }}"
        title="image created by openclipart-vectors"
      />
    </figure>
    <div class="card-body flex justify-center items-center text-center">
      <h2 class="card-title text-3xl">Login</h2>
      <label class="flex items-center gap-2 input input-bordered">
        <fa-icon [icon]="faEnvelope" class="opacity-70" />
        <input
          type="text"
          class="grow"
          placeholder="e-mail"
          (ngModelChange)="wrongEmail = false"
          [(ngModel)]="loginRequest.email"
          (keydown.enter)="sendLoginRequest()"
        />
      </label>
      @if (this.wrongEmail) {
        <div class="label">
          <span class="label-text-alt text-xs text-red-600">
            {{ 'login.userNotFound' | transloco }}
          </span>
        </div>
      }

      <label class="flex items-center gap-2 input input-bordered">
        <fa-icon [icon]="faKey" class="opacity-70" />
        <input
          type="password"
          class="grow"
          placeholder="*******"
          value="password"
          (ngModelChange)="wrongPassword = false"
          [(ngModel)]="loginRequest.password"
          (keydown.enter)="sendLoginRequest()"
        />
      </label>
      @if (this.wrongPassword) {
        <div class="label">
          <span class="label-text-alt text-xs text-red-600">
            {{ 'login.wrongPassword' | transloco }}
          </span>
        </div>
      }

      <div class="card-actions justify-center w-full">
        <button class="btn btn-warning w-60" (click)="sendLoginRequest()">
          Login
        </button>
      </div>
    </div>
  </div>
</div>
